<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Naval-Group!</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-light">
        <a class="navbar-brand">Naval-Group</a><br>
        <a href="/"><button class="btn">Home</button></a>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>