<% if(count>1){ %>
    <p> <%= count %> devices have been inserted into the database <p>
 <% } else{ %>
    <p> 1 device has been inserted into the database <p>
<% } %>
<h2><a href=displaydatabase> Display the database content </a></h2>
<h2><a href=/> Back to the main page </a></h2>